<div class="home-container">
    <div class="logo-container">
        <img src="/img/health-care-svgrepo-com.svg" alt="logo" class="logo">
    </div>
    <nav class="nav-bar">
        <div class="nav-links" id="nav-links">
            <ul>
                <li><a href="/dashboard/food">Home</a></li>
                <li><a href="/dashboard/exercise">Forum</a></li>
                <li><a href="/dashboard/mental-health">Mental Health</a></li>
            </ul>
        </div>
    </nav>
    <a href="/user/logout">Logout</a>
</div>