<div class="nav-container">
    <div class="logo-container">
        <a href="/dashboard"><img src="/img/health-care-svgrepo-com.svg" alt="logo" class="logo"></a>
    </div>
    <nav class="nav-bar">
        <div class="nav-links" id="nav-links">
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/dashboard/food">Food</a></li>
                <li><a href="/dashboard/exercise">Exercise</a></li>
                <li><a href="/dashboard/mental-health">Diary</a></li>
            </ul>
        </div>
    </nav>
    <div class="button-container">
        <button class="button change-date">Change Date</button>
        <a href="/user/logout" id="logout">Logout</a>
    </div>
</div>