<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Food Entry</title>
</head>

<body>
    <%- include("../partials/nav") %>
        <div class="container">
            <form action="/dashboard/mental-health/entry" method="POST">
                <%- include("diaryPost") %>
            </form>
        </div>
</body>

</html>