<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Dashboard</title>
</head>

<body>
    <%- include("./partials/nav") %>
        <div class="container e404">
            <h1>DASHBOARD</h1>
            <%= foods %>
                <%= exercise %>
                    <%= posts %>
        </div>
</body>

</html>