<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Oops!</title>
</head>

<body>
    <div class="container-flex">
        <div class="welcome-container e404">
            <img src="/img/sad-svgrepo-com.svg" alt="sad face" class="logo-404">
            <h1>Oh no! This page could not be found!</h1>
            <h3>Press the button to return to the welcome page</h3>
            <a href="/" class="button e404-button">Return</a>
        </div>
    </div>
</body>

</html>