<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Welcome</title>
</head>

<body>
    <div class="container">
        <div class="welcome-section">
            <div class="welcome-header">
                <h1 class="welcome-header">Welcome</h1>
                <img src="./health-care-svgrepo-com.svg" alt="logo" class="logo">
            </div>
            <p class="welcome-message">Login or create an account</p>
            <a href="/user/login" class="button login">Login</a>
            <a href="/user/register" class="button register">Create an Account</a>
        </div>
    </div>
</body>

</html>