<div class="entry-container">
    <h1>Enter your Meal</h1>
    <input type="text" name="name" class="entry-name" value="<%= food.name %> ">
    <input type="number" name="calories" id="calories" value="<%= food.calories %>"><span>calories</span>
    <textarea name="ingredients" id="ingredients"><%= food.ingredients %></textarea>
    <textarea name="description" id="description"><%= food.description %></textarea>
    <button type="submit" class="save-meal">Save Meal</button>
</div>