<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Diary</title>
</head>

<body>
    <div class="container-grid">
        <%- include("../partials/nav") %>
    </div>
    <script src="/js/chart.js"></script>
</body>

</html>