<div class="entry-container">
    <h1>Enter your post</h1>
    <input type="text" name="title" class="entry-name" value="<%= post.title %> ">
    <input type="text" name="description" id="calories" value="<%= post.description %>">
    <input type="number" name="rating" id="ingredients" value="<%= post.rating %>"><span>/10</span>
    <textarea name="entry" id="description"><%= post.entry %></textarea>
    <button type="submit" class="save-meal">Save Post</button>
</div>