<div class="entry-container">
    <h1>Enter your Activity</h1>
    <input type="text" name="activity" class="entry-name" value="<%= exercise.name %> ">
    <input type="number" name="time" id="calories" value="<%= exercise.time %>"><span>minutes</span>
    <input type="number" name="caloriesBurned" id="ingredients" value="<%= exercise.caloriesBurned %>"><span>calories
        burned</span>
    <textarea name="description" id="description"><%= exercise.description %></textarea>
    <button type="submit" class="save-meal">Save Activity</button>
</div>